# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional coverage directory
coverage/

# Optional debug files
*.pid
*.seed

# VSCode settings
.vscode/
